@import url("https://fonts.googleapis.com/css?family=Overpass&display=swap");
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a, span {
  font-size: 1em; }

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #2F3136;
  font-family: 'Overpass', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden; }

.wrapper {
  box-sizing: border-box;
  padding: 150px 50px 100px 50px;
  width: 1500px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: #202225; }
  .header .navbar {
    width: 100%;
    padding: 65px 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .header .navbar .navbar__item {
      margin: 0 10px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer; }

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: auto; }
  .list .item {
    z-index: 10;
    display: grid;
    grid-template-columns: 180px auto;
    background-color: #36393F;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.8); }
  .list .item--expand {
    grid-template-columns: 50px auto; }

.item__thumbnail {
  display: block;
  position: relative;
  overflow: hidden; }
  .item__thumbnail .item__title {
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    min-height: 35px;
    width: 100%;
    padding: 10px;
    background-color: rgba(32, 34, 37, 0.9);
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 100; }
  .item__thumbnail .item__title--expand {
    display: none; }
  .item__thumbnail .item__cover {
    position: absolute;
    width: 180px;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .item__thumbnail .item__cover--expand {
    height: 100%;
    width: 180px; }

.item__about {
  position: relative; }
  .item__about .item__header {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px;
    background-color: #2F3136; }
    .item__about .item__header .item__episode--number {
      color: #72abda; }
    .item__about .item__header .item__airing .item__episode {
      display: block;
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em; }
    .item__about .item__header .item__airing .item__countdown {
      display: block;
      color: #ffffff; }
    .item__about .item__header .item__rating {
      justify-self: end;
      color: #ffffff;
      font-size: 0.9em; }
      .item__about .item__header .item__rating .item__averagescore {
        display: block; }
      .item__about .item__header .item__rating .item__averagescore--icon {
        color: #f1c40f; }
      .item__about .item__header .item__rating .item__popularity--icon {
        color: #e74c3c; }
  .item__about .item__information {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    height: 140px;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 0.8em;
    line-height: 1.5em;
    overflow-y: scroll;
    scrollbar-color: #36393F #36393F;
    scrollbar-width: thin; }
    .item__about .item__information:hover {
      scrollbar-color: #202225 #36393F; }
    .item__about .item__information:hover::-webkit-scrollbar-thumb {
      background-color: #202225; }
    .item__about .item__information::-webkit-scrollbar {
      width: 6px; }
    .item__about .item__information::-webkit-scrollbar-thumb {
      background-color: #36393F; }
    .item__about .item__information .item__studio {
      display: block;
      color: #72abda; }
    .item__about .item__information .item__source {
      display: block;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.8); }
  .item__about .item__footer {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #202225;
    text-align: center; }
    .item__about .item__footer .item__genre {
      color: #72abda;
      font-size: 0.7em; }
    .item__about .item__footer .item__expand {
      position: absolute;
      bottom: 0;
      right: 0;
      display: grid;
      align-items: center;
      height: 35px;
      width: 35px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8); }
      .item__about .item__footer .item__expand:hover {
        color: #ffffff;
        cursor: pointer; }
    .item__about .item__footer .item__expand--active {
      color: #72abda; }
      .item__about .item__footer .item__expand--active:hover {
        color: #8acaff; }

.item--skeleton {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 180px auto;
  height: 273px;
  background-color: #36393F;
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .item--skeleton .item__thumbnail--skeleton {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05); }
    .item--skeleton .item__thumbnail--skeleton .item__title--skeleton {
      position: absolute;
      bottom: 0;
      height: 35px;
      width: 100%;
      background-color: #2F3136; }
  .item--skeleton .item__about--skeleton .item__header--skeleton {
    display: block;
    height: 68px;
    width: 100%;
    background-color: #2F3136; }
  .item--skeleton .item__about--skeleton .item__text--skeleton, .item--skeleton .item__about--skeleton .item__textarea--skeleton {
    display: block;
    height: 15px;
    background-color: #2F3136; }
  .item--skeleton .item__about--skeleton .item__text--skeleton {
    height: 30px;
    width: 30%;
    margin: 20px 15px; }
  .item--skeleton .item__about--skeleton .item__textarea--skeleton {
    width: 70%;
    margin: 10px 15px; }
  .item--skeleton .item__about--skeleton .item__footer--skeleton {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #202225;
    height: 35px;
    width: 100%; }

@media (max-width: 1500px) {
  .wrapper {
    width: 100%;
    max-width: 1200px; }

  .list {
    grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 1000px) {
  .list {
    grid-template-columns: 1fr; } }
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 100px 10px; }

  .header .navbar {
    padding: 40px 0; }

  .list {
    grid-template-columns: 1fr; }
    .list .item {
      grid-template-columns: 150px auto; }
    .list .item--expand {
      grid-template-columns: 50px auto; }

  .item__information {
    height: 100px; }

  .item--skeleton {
    grid-template-columns: 150px auto; } }

/*# sourceMappingURL=style.css.map */
