@import url("https://fonts.googleapis.com/css?family=Overpass&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, a, span {
  font-size: 1em; }

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #121212;
  font-family: 'Overpass', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden; }

.main {
  position: relative;
  height: 100%;
  width: 100%; }
  .main .main__wrapper {
    position: relative;
    top: -70px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 50px;
    width: 1500px; }
  .main .main__background {
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
    background-color: #212121; }

.navbar {
  width: 100%;
  background-color: #121212; }
  .navbar .navbar__list {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .navbar .navbar__list .navbar__item {
      margin: 0 10px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .navbar .navbar__list .navbar__item:hover {
        color: rgba(255, 255, 255, 0.8) !important; }

.filter {
  width: 100%;
  padding: 25px 0 95px 0;
  background-color: #212121; }
  .filter .filter__content {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px; }
    .filter .filter__content .filter__title {
      display: inline; }
    .filter .filter__content .filter__list {
      color: rgba(255, 255, 255, 0.5);
      float: right; }
      .filter .filter__content .filter__list #airing:hover {
        color: #9b59b6 !important; }
      .filter .filter__content .filter__list #popularity {
        color: #e74c3c; }
        .filter .filter__content .filter__list #popularity:hover {
          color: #e74c3c !important; }
      .filter .filter__content .filter__list #rating:hover {
        color: #f1c40f !important; }
      .filter .filter__content .filter__list #title:hover {
        color: #72abda !important; }
      .filter .filter__content .filter__list .filter__option--item {
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s; }

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: auto; }
  .list .item {
    z-index: 10;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 180px auto;
    height: 275px;
    background-color: #2c2c2c;
    box-shadow: 0 0 25px -10px #000;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
  .list .item--expand {
    grid-template-columns: 50px auto;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
  .list .item__thumbnail {
    display: block;
    position: relative;
    border-radius: 5px 0 0 5px;
    overflow: hidden; }
    .list .item__thumbnail:hover .item__link {
      opacity: 1; }
    .list .item__thumbnail .item__link {
      z-index: 5;
      position: absolute;
      display: grid;
      height: 100%;
      width: 100%;
      color: #ffffff;
      background-color: rgba(114, 171, 218, 0.9);
      font-size: 3em;
      text-decoration: none;
      opacity: 0;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .list .item__thumbnail .item__link .fas {
        align-self: center;
        justify-self: center; }
    .list .item__thumbnail .item__title {
      z-index: 10;
      position: absolute;
      bottom: 0;
      display: grid;
      align-items: center;
      box-sizing: border-box;
      min-height: 35px;
      width: 180px;
      padding: 10px;
      background-color: rgba(32, 34, 37, 0.9);
      color: #ffffff;
      font-size: 0.8em;
      font-weight: 100; }
    .list .item__thumbnail .item__cover {
      position: absolute;
      width: 180px;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .list .item__about {
    position: relative; }
    .list .item__about .item__header {
      border-radius: 0 5px 0 0;
      display: grid;
      align-items: center;
      grid-template-columns: 70% 30%;
      height: 70px;
      padding: 0 15px;
      background-color: #3f3f3f; }
      .list .item__about .item__header .item__episode--number {
        color: #72abda; }
      .list .item__about .item__header .item__airing .item__episode {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8em; }
      .list .item__about .item__header .item__airing .item__countdown {
        display: block;
        color: #ffffff; }
      .list .item__about .item__header .item__rating {
        justify-self: end;
        color: #ffffff;
        font-size: 0.9em; }
        .list .item__about .item__header .item__rating .item__averagescore {
          display: block; }
        .list .item__about .item__header .item__rating .item__averagescore--icon {
          color: #f1c40f; }
        .list .item__about .item__header .item__rating .item__popularity--icon {
          color: #e74c3c; }
    .list .item__about .item__information {
      display: block;
      color: rgba(255, 255, 255, 0.5);
      height: 140px;
      padding: 0 15px;
      margin: 15px 0;
      font-size: 0.8em;
      line-height: 1.5em;
      overflow-y: scroll;
      scrollbar-color: #2c2c2c #2c2c2c;
      scrollbar-width: thin; }
      .list .item__about .item__information:hover {
        scrollbar-color: #121212 #2c2c2c; }
      .list .item__about .item__information:hover::-webkit-scrollbar-thumb {
        background-color: #121212; }
      .list .item__about .item__information::-webkit-scrollbar {
        width: 6px; }
      .list .item__about .item__information::-webkit-scrollbar-thumb {
        background-color: #2c2c2c; }
      .list .item__about .item__information .item__studio {
        display: block;
        color: #72abda; }
      .list .item__about .item__information .item__source {
        display: block;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.8); }
    .list .item__about .item__footer {
      position: relative;
      border-radius: 0 0 5px 0;
      display: grid;
      align-items: center;
      width: 100%;
      height: 35px;
      background-color: #212121;
      text-align: center;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .list .item__about .item__footer .item__genre {
        color: #72abda;
        font-size: 0.7em; }
      .list .item__about .item__footer .item__expand {
        position: absolute;
        bottom: 0;
        right: 0;
        display: grid;
        align-items: center;
        height: 35px;
        width: 35px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s; }
        .list .item__about .item__footer .item__expand:hover {
          color: #ffffff;
          cursor: pointer; }
      .list .item__about .item__footer .item__expand--active {
        color: #72abda; }
        .list .item__about .item__footer .item__expand--active:hover {
          color: #8acaff; }

.item--skeleton {
  position: relative;
  z-index: 10;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 180px auto;
  height: 275px;
  background-color: #2c2c2c;
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .item--skeleton .item__thumbnail--skeleton {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05); }
    .item--skeleton .item__thumbnail--skeleton .item__title--skeleton {
      position: absolute;
      bottom: 0;
      height: 35px;
      width: 100%;
      background-color: #212121; }
  .item--skeleton .item__about--skeleton .item__header--skeleton {
    display: block;
    height: 70px;
    width: 100%;
    background-color: #3f3f3f; }
  .item--skeleton .item__about--skeleton .item__text--skeleton, .item--skeleton .item__about--skeleton .item__textarea--skeleton {
    display: block;
    height: 15px;
    background-color: #212121; }
  .item--skeleton .item__about--skeleton .item__text--skeleton {
    height: 30px;
    width: 30%;
    margin: 20px 15px; }
  .item--skeleton .item__about--skeleton .item__textarea--skeleton {
    width: 70%;
    margin: 10px 15px; }
  .item--skeleton .item__about--skeleton .item__footer--skeleton {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #212121;
    height: 35px;
    width: 100%; }

.footer {
  position: relative;
  width: 100%;
  background-color: #121212;
  font-size: 0.8em; }
  .footer .footer__content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 1500px;
    padding: 62px 50px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.3); }
    .footer .footer__content .footer__disclaimer {
      display: inline; }
    .footer .footer__content .footer__link {
      color: #72abda;
      text-decoration: none;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .footer .footer__content .footer__link:hover {
        color: #8acaff; }
    .footer .footer__content .footer__link--github {
      justify-self: end;
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .footer .footer__content .footer__link--github:hover {
        color: #72abda; }
      .footer .footer__content .footer__link--github .footer__github--item {
        margin-left: 5px; }
  .footer .footer__background {
    z-index: -10;
    position: absolute;
    bottom: 0;
    display: block;
    height: 280px;
    width: 100%;
    background-color: #212121; }

@media (max-width: 1500px) {
  .main .main__wrapper {
    width: 100%;
    max-width: 1200px; }

  .filter {
    width: 100%; }
    .filter .filter__content {
      max-width: 1200px;
      padding: 0 50px; }

  .list {
    grid-template-columns: repeat(2, 1fr); }

  .footer .footer__content {
    width: 100%;
    max-width: 1200px; } }
@media (max-width: 1000px) {
  .filter .filter__content .filter__list {
    text-align: center;
    float: none; }

  .list {
    grid-template-columns: 1fr; }

  .footer .footer__content {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 62px 0; }
    .footer .footer__content .footer__disclaimer {
      width: 100%;
      text-align: center; }
    .footer .footer__content .footer__link--github {
      justify-self: center;
      margin-top: 10px; } }
@media (max-width: 768px) {
  .main .main__wrapper {
    width: 100%;
    padding: 0 10px; }

  .filter .filter__content {
    padding: 0 10px; }
    .filter .filter__content .filter__list {
      text-align: center;
      float: none; }

  .list {
    grid-template-columns: 1fr; }
    .list .item {
      grid-template-columns: 150px auto; }
      .list .item .item__thumbnail .item__title {
        width: 150px; }
    .list .item--expand {
      grid-template-columns: 50px auto; }

  .item__information {
    height: 100px; }

  .item--skeleton {
    grid-template-columns: 150px auto; }

  .footer .footer__content {
    width: 100%; }
    .footer .footer__content .footer__disclaimer {
      width: 100%;
      padding: 0 10px;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
