//==================== IMPORTS ==================== //
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

//==================== MIXINS ==================== //
@mixin transitions {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

@mixin transitions--1 {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
//==================== MIXINS ==================== //
$main: #36393F;
$mainDark: #2F3136;
$mainDarkest: #202225;

$blue: #72abda;
$blueHover: #8acaff;
$white: #ffffff;

//==================== GENERAL ==================== //
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-size: 1em;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: $mainDark;
  font-family: 'Overpass', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  box-sizing: border-box;
  padding: 150px 50px 100px 50px;
  width: 1500px;
}

//==================== HEADER SECTION ====================//
.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: $mainDarkest;
  .navbar {
    width: 100%;
    padding: 65px 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    .navbar__item {
      margin: 0 10px;
      color: rgba($white, 0.5);
      cursor: pointer;
    }
  }
}

//==================== ANIME LIST SECTION ==================== //
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: auto;
  .item {
    z-index: 10;
    display: grid;
    grid-template-columns: 180px auto;
    background-color: $main;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.8);
  }
  .item--expand { // Expand item option
    grid-template-columns: 50px auto;
  }
}

// Thumbnail
.item__thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  .item__title {
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    min-height: 35px;
    width: 100%;
    padding: 10px;
    background-color: rgba(32, 34, 37, 0.9);
    color: $white;
    font-size: 0.8em;
    font-weight: 100;
  }
  .item__title--expand { // Expand item option
    display: none;
  }
  .item__cover {
    position: absolute;
    width: 180px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .item__cover--expand { // Expand item option
    height: 100%;
    width: 180px;
  }
}

// About
.item__about {
  position: relative;
  // Header
  .item__header{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px;
    background-color: $mainDark;
    .item__episode--number {
      color: $blue;
    }
    // Airing
    .item__airing {
      .item__episode {
        display: block;
        color: rgba($white, 0.5);
        font-size: 0.8em;
      }
      .item__countdown {
        display: block;
        color: $white;
      }
    }
    // Rating 
    .item__rating {
      justify-self: end;
      color: $white;
      font-size: 0.9em;
      .item__averagescore {
        display: block;
      }
      .item__averagescore--icon {
        color: #f1c40f;
      }
      .item__popularity--icon {
        color: #e74c3c;
      }
    }
  }
  
  // Information
  .item__information {
    display: block;
    color: rgba($white, 0.5);
    height: 140px;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 0.8em;
    line-height: 1.5em;
    overflow-y: scroll;
    scrollbar-color: $main $main; // Firefox compatibility
    scrollbar-width: thin; // Firefox compatibility
    &:hover { // Firefox compatibility
      scrollbar-color: $mainDarkest $main;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: $mainDarkest;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $main;
    }
    .item__studio {
      display: block;
      color: $blue;
    }
    .item__source {
      display: block;
      margin-bottom: 10px;
      color: rgba($white, 0.8);
    }
  }
  
  // Footer
  .item__footer {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: $mainDarkest;
    text-align: center;
    .item__genre {
      color: $blue;
      font-size: 0.7em;
    }
    .item__expand {
      position: absolute;
      bottom: 0;
      right: 0;
      display: grid;
      align-items: center;
      height: 35px;
      width: 35px;
      text-align: center;
      color: rgba($white, 0.8);
      &:hover {
        color: $white;
        cursor: pointer;
      }
    }
    .item__expand--active { // Expand item option
      color: $blue;
      &:hover {
        color: $blueHover;
      }
    }
  }
}

//==================== MEDIA SECTION ====================//
@media (max-width: 1500px){
  .wrapper {
    width: 100%;
    max-width: 1200px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px){
  .list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 100px 10px;
  }
  .header {
    .navbar {
      padding: 40px 0;
    }
  }
  .list {
    grid-template-columns: 1fr;
    .item {
      grid-template-columns: 150px auto;
    }
    .item--expand { // Expand item option
      grid-template-columns: 50px auto;
    }
  }
  .item__information {
    height: 100px;
  }
}