//==================== IMPORTS ==================== //
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

//==================== MIXINS ==================== //
@mixin transitions($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

//==================== MIXINS ==================== //
$mainLight: #3f3f3f;
$main: #2c2c2c;
$mainDark: #212121;
$mainDarkest: #121212;

$blue: #72abda;
$blueHover: #8acaff;
$white: #ffffff;

//==================== GENERAL ==================== //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-size: 1em;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: $mainDarkest;
  font-family: 'Overpass', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
  .main__wrapper {
    position: relative;
    top: -70px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 50px;
    width: 1500px;
  }
  .main__background {
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
    background-color: $mainDark;
  }
}

//==================== NAVBAR SECTION ====================//
.navbar {
  width: 100%;
  background-color: $mainDarkest;
  .navbar__list { // Navbar section
    width: 100%;
    padding: 60px 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    .navbar__item {
      margin: 0 10px;
      color: rgba($white, 0.5);
      cursor: pointer;
      @include transitions(0.1s);
      &:hover {
        color: rgba($white, 0.8) !important;
      }
    }
  }
}

//==================== FILTER SECTION ====================//
.filter { 
  width: 100%;
  padding: 25px 0 95px 0;
  background-color: $mainDark;
  .filter__content { // Filter content section
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    .filter__title {
      display: inline;
    }
    .filter__list { // Filter option section
      color: rgba($white, 0.5);
      float: right;
      #airing {
        &:hover {
          color: #9b59b6 !important;
        }
      }
      #popularity {
        color: #e74c3c;
        &:hover {
          color: #e74c3c !important;
        }
      }
      #rating {
        &:hover {
          color: #f1c40f !important;
        }
      }
      #title {
        &:hover {
          color: $blue !important;
        }
      }
      .filter__option--item {
        margin-left: 10px;
        cursor: pointer;
        @include transitions(0.1s);
      }
    }
  }
}

//==================== ANIME LIST SECTION ==================== //
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: auto;
  .item {
    z-index: 10;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 180px auto;
    height: 275px;
    background-color: $main;
    box-shadow: 0 0 25px -10px #000;
    @include transitions(0.1s);
  }
  .item--expand { // Expand item option
    grid-template-columns: 50px auto;
    @include transitions(0.1s);
  }
  .item__thumbnail { // Thumbnail section
    display: block;
    position: relative;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    &:hover .item__link {
      opacity: 1;
    }
    .item__link {
      z-index: 5;
      position: absolute;
      display: grid;
      height: 100%;
      width: 100%;
      color: $white;
      background-color: rgba($blue, 0.90);
      font-size: 3em;
      text-decoration: none;
      opacity: 0;
      @include transitions(0.1s);
      .fas {
        align-self: center;
        justify-self: center;
      }
    }
    .item__title {
      z-index: 10;
      position: absolute;
      bottom: 0;
      display: grid;
      align-items: center;
      box-sizing: border-box;
      min-height: 35px;
      width: 180px;
      padding: 10px;
      background-color: rgba(32, 34, 37, 0.9);
      color: $white;
      font-size: 0.8em;
      font-weight: 100;
    }
    .item__cover {
      position: absolute;
      width: 180px;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .item__about { // About section
    position: relative;
    .item__header { // Header
      border-radius: 0 5px 0 0;
      display: grid;
      align-items: center;
      grid-template-columns: 70% 30%;
      height: 70px;
      padding: 0 15px;
      background-color: $mainLight;
      .item__episode--number {
        color: $blue;
      }
      .item__airing { // Airing
        .item__episode {
          display: block;
          color: rgba($white, 0.5);
          font-size: 0.8em;
        }
        .item__countdown {
          display: block;
          color: $white;
        }
      }
      .item__rating { // Rating 
        justify-self: end;
        color: $white;
        font-size: 0.9em;
        .item__averagescore {
          display: block;
        }
        .item__averagescore--icon {
          color: #f1c40f;
        }
        .item__popularity--icon {
          color: #e74c3c;
        }
      }
    }
    .item__information { // Information section
      display: block;
      color: rgba($white, 0.5);
      height: 140px;
      padding: 0 15px;
      margin: 15px 0;
      font-size: 0.8em;
      line-height: 1.5em;
      overflow-y: scroll;
      scrollbar-color: $main $main; // Firefox compatibility
      scrollbar-width: thin; // Firefox compatibility
      &:hover { // Firefox compatibility
        scrollbar-color: $mainDarkest $main;
      }
      &:hover::-webkit-scrollbar-thumb {
        background-color: $mainDarkest;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $main;
      }
      .item__studio {
        display: block;
        color: $blue;
      }
      .item__source {
        display: block;
        margin-bottom: 10px;
        color: rgba($white, 0.8);
      }
    }
    .item__footer { // Footer section
      position: relative;
      border-radius: 0 0 5px 0;
      display: grid;
      align-items: center;
      width: 100%;
      height: 35px;
      background-color: $mainDark;
      text-align: center;
      @include transitions(0.1s);
      .item__genre {
        color: $blue;
        font-size: 0.7em;
      }
      .item__expand {
        position: absolute;
        bottom: 0;
        right: 0;
        display: grid;
        align-items: center;
        height: 35px;
        width: 35px;
        text-align: center;
        color: rgba($white, 0.8);
        @include transitions(0.1s);
        &:hover {
          color: $white;
          cursor: pointer;
        }
      }
      .item__expand--active { // Expand item option
        color: $blue;
        &:hover {
          color: $blueHover;
        }
      }
    }
  }
}

//==================== SKELETON SCREEN SECTION ====================//
.item--skeleton {
  position: relative;
  z-index: 10;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 180px auto;
  height: 275px;
  background-color: $main;
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  .item__thumbnail--skeleton { // Skeleton thumbnail section
    position: relative;
    background-color: rgba($white, 0.05);
    .item__title--skeleton {
      position: absolute;
      bottom: 0;
      height: 35px;
      width: 100%;
      background-color: $mainDark;
    }
  }
  .item__about--skeleton { // Skeleton about section
    .item__header--skeleton {
      display: block;
      height: 70px;
      width: 100%;
      background-color: $mainLight;
    }
    .item__text--skeleton, .item__textarea--skeleton {
      display: block;
      height: 15px;
      background-color: $mainDark;
    }
    .item__text--skeleton {
      height: 30px;
      width: 30%;
      margin: 20px 15px;
    }
    .item__textarea--skeleton {
      width: 70%;
      margin: 10px 15px;
    }
    .item__footer--skeleton {
      position: absolute;
      bottom: 0;
      display: block;
      background-color: $mainDark;
      height: 35px;
      width: 100%;
    }
  }
}

//==================== FOOOTER SECTION ====================//
.footer {
  position: relative;
  width: 100%;
  background-color: $mainDarkest;
  font-size: 0.8em;
  .footer__content { // Footer content section
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 1500px;
    padding: 62px 50px;
    margin: 0 auto;
    color: rgba($white, 0.3);
    .footer__disclaimer {
      display: inline;
    }
    .footer__link {
      color: $blue;
      text-decoration: none;
      @include transitions(0.1s);
      &:hover {
        color: $blueHover;
      }
    }
    .footer__link--github {
      justify-self: end;
      color: rgba($white, 0.3);
      text-decoration: none;
      @include transitions(0.1s);
      &:hover {
        color: $blue;
      }
      .footer__github--item {
        margin-left: 5px;
      }
    }
  }
  .footer__background {
    z-index: -10;
    position: absolute;
    bottom: 0;
    display: block;
    height: 280px;
    width: 100%;
    background-color: $mainDark;
  }
}

//==================== MEDIA SECTION ====================//
@media (max-width: 1500px){
  .main {
    .main__wrapper {
      width: 100%;
      max-width: 1200px;
    }
  }
  // FILTER SECTION
  .filter {
    width: 100%;
    .filter__content {
      max-width: 1200px;
      padding: 0 50px;
    }
  }
  // ANIME LIST SECTION
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  // FOOTER SECTION
  .footer {
    .footer__content {
      width: 100%;
      max-width: 1200px;
    }
  }
}

@media (max-width: 1000px){
  // FILTER SECTION {
  .filter {
    .filter__content {
      .filter__list {
        text-align: center;
        float: none;
      }
    }
  }
  // ANIME LIST SECTION
  .list {
    grid-template-columns: 1fr;
  }
  // FOOTER SECTION
  .footer {
    .footer__content {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 62px 0;
      .footer__disclaimer {
        width: 100%;
        text-align: center;
      }
      .footer__link--github {
        justify-self: center;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    .main__wrapper {
      width: 100%;
      padding: 0 10px;
    }
  }
  // FILTER SECTION {
  .filter {
    .filter__content {
      padding: 0 10px;
      .filter__list {
        text-align: center;
        float: none;
      }
    }
  }
  // ANIME LIST SECTION
  .list {
    grid-template-columns: 1fr;
    .item {
      grid-template-columns: 150px auto;
      .item__thumbnail {
        .item__title {
          width: 150px;
        }
      }
    }
    .item--expand { // Expand item option
      grid-template-columns: 50px auto;
    }
  }
  .item__information {
    height: 100px;
  }
  .item--skeleton {
    grid-template-columns: 150px auto;
  }
  // NAVBAR SECTION
  .footer {
    .footer__content {
      width: 100%;
      .footer__disclaimer {
        width: 100%;
        padding: 0 10px;
        text-align: center;
      }
    }
  }
}